body{
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #fffbf3;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color:#eaa9d6; */
    background-image: linear-gradient(to bottom right, #9B111E, #71100F);
    font-size: 25px;
    padding: 7px 115px 7px 30px;
}

.navbar a, .navbar p{
    text-decoration: none;
    color:#fffbf3;
    padding: 0px 10px 0px 10px;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}

.navbar img{
    height: 100px;
    width: 110px;
}

.navbar h1{
    font-size: 35px;
    padding-right: 100px;
}

.butao1{
    background-color:#9B111E;
    color: #fffbf3;
    border: none;
    padding: 5px;
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 100px;
}

.search{
    background-color: #fffbf3;
    border: none;
    padding: 3px;
}

.navbar a:hover {
   color: #9B111E;
   font-size: 27px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-end;
    background-image: linear-gradient(to bottom right, #9B111E, #71100F);

    padding: 10px 1100px 10px 100px;
}

.footer img{
    height: 110px;
    width: 100%;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:#fffbf3;
  }
  
  ::-webkit-scrollbar-thumb{
    /* background-color:#eaa9d6; */
    background-image: linear-gradient(to bottom right, #9B111E, #71100F);
  }