body{
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
}


/* HOME */
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #fffbf3;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color:#eaa9d6; */
    background-image: linear-gradient(to bottom right, #ffd1e2, #f3a4c1);
    font-size: 25px;
    padding: 7px 110px 7px 10px;
}

.navbar a, .navbar p{
    text-decoration: none;
    color:#fffbf3;
    padding: 0px 10px 0px 10px;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}

.navbar img{
    height: 100px;
    width: 110px;
}

.navbar h1{
    font-size: 35px;
    padding-right: 100px;
}

.butao1{
    background-color:#ffd1e2;
    color: #fffbf3;
    border: none;
    padding: 5px;
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 100px;
}

.search{
    background-color: #fffbf3;
    border: none;
    padding: 3px;
}

.navbar a:hover {
   color: #ffd1e2;
   font-size: 27px;
}

.slideshow1 {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.slideshow1 img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  z-index: 0;
  filter: blur(5px);
}

.butao2{
    position: absolute;
    transform: translateY(800%);
    margin-left: 50px;
    background-image: linear-gradient(to bottom right, #ffd1e2, #f3a4c1);
    padding: 10px;
    border: none;
    z-index: 1;
}

.butao2 a{
    font-weight: bolder;
    text-decoration: none;
    color:#fffbf3;
    font-size: 15px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.butao2 a:hover{
    color: #ffd1e2;
    font-size: 16px;
}

.slideshow1 h2{
    position: absolute;
    color: #fffbf3;
    z-index: 2;
}

.primeiro{
    margin-left: 50px;
    transform: translateY(700%);
}

.segundo{
    margin-left: 50px;
    transform: translateY(800%);
}

.slideshow2{
    position: relative;
    padding: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.slideshow2 h1{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.slideshow2 h2{
    position: absolute;
    transform: translateY(-350%);
    margin: 0px 0px 0px 550px;
    color:#fffbf3;
    font-size: 25px;
}

.slideshow2 img{
    width: 620px;
    height: 400px;
    display: block;
    filter: grayscale(100%);
    margin-left: 200px;
}

.display-right{
    position: absolute;
    transform: translateY(-100%);
    margin: 0px 0px 0px 1120px;
    padding: 15px;
    /* background-color:#eaa9d6; */
    background-image: linear-gradient(to bottom right, #ffd1e2, #f3a4c1);
    color:#fffbf3;
    border: none;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.display-left{
    position: absolute;
    transform: translateY(-100%);
    margin: 0px 0px 0px 553px; 
    padding: 15px;
    background-image: linear-gradient(to bottom right, #ffd1e2, #f3a4c1);
    color:#fffbf3;
    border: none;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.slides{
    display: none;
    animation: fade 2s ease-in forwards;
    opacity: 0;
}
  
@keyframes fade {
    to {
      opacity: 1;
    }
}

.conteudo{
    display: flex;
    flex-direction: column;
    /* background-color: #eaa9d6; */
    background-image: linear-gradient(to bottom right, #ffd1e2, #f3a4c1);
    padding: 10px 100px 10px 100px;
}

.titulo{
    font-weight: bolder;
    color:#fffbf3;
}

.imagens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imagens img{
    padding: 0px 120px 0px 120px;
    filter: grayscale(100%);
}

.imagens .img1{
    width: 110px;
    height: 110px;
}

.imagens .img2{
    width: 118px;
    height: 118px;
}

.imagens .img3{
    width: 130px;
    height: 130px;
}

.texto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.texto h2{
    font-size: 20px;
    color:#fffbf3;
    padding: 0px 100px 0px 100px;
}

.conteudo2{
    display: flex;
    flex-direction: column;
    background-color: #fffbf3;
    padding: 20px 100px 0px 100px;
}

.conteudo2 img{
    height: 700px;
    width: 650px;
    margin-right: -100px;
    margin-bottom: -75px;
    margin-top: -29px;
    transform: translateY(-10%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 100%);
}

.texto2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.texto2 h1{
    /* color: #eaa9d6; */
    color:black;
}

.texto3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.texto3 h2{
    color: #f3a4c1;
}

.conteudo3{
    /* background-color: #eaa9d6; */
    background-image: linear-gradient(to bottom right, #ffd1e2, #f3a4c1);
    color: #fffbf3;
    padding: 10px 350px 10px 350px;
}

.conteudo3 button{
    background-image: linear-gradient(to bottom right, #ffd1e2, #f3a4c1);
    padding: 10px;
    border: none;
}

.butao3 a{
    font-weight: bolder;
    text-decoration: none;
    color:#fffbf3;
    font-size: 15px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.butao3 a:hover{
    color: #ffd1e2;
    font-size: 16px;
}


.butao4 a{
    font-weight: bolder;
    text-decoration: none;
    color:#fffbf3;
    font-size: 15px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.butao4 a:hover{
    color: #ffd1e2;
    font-size: 16px;
}


.butao5 a{
    font-weight: bolder;
    text-decoration: none;
    color:#fffbf3;
    font-size: 15px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.butao5 a:hover{
    color: #ffd1e2;
    font-size: 16px;
}
.curiosidades{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 0px 80px 0px;
}

.curiosidade1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #ffd1e2;
    margin: 10px;
    padding: 10px;
}

.curiosidade2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd1e2;
    margin: 10px;
    padding: 10px;
}

.curiosidade3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #ffd1e2;
    margin: 10px;
    padding: 10px;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0px 80px 0px;
}

.contato h1{
    font-size: 25px;
}

.contato h2{
    font-size: 20px;
}

.contato .email{
    border: none;
    padding: 7px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 15px;
}

.contato .nome{
    border: none;
    padding: 7px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 15px;
}

.contato .mensagem{
    border: none;
    padding: 10px 30px 60px 10px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 15px;
}

.contato button{
    border: none;
    padding: 7px;
    border-radius: 3px;
    color: #fffbf3;
    background-image: linear-gradient(to bottom right, #ffd1e2, #f3a4c1);
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-end;
    background-image: linear-gradient(to bottom right, #ffd1e2, #f3a4c1);

    padding: 10px 1100px 10px 100px;
}

.footer img{
    height: 110px;
    width: 100%;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:#fffbf3;
  }
  
  ::-webkit-scrollbar-thumb{
    /* background-color:#eaa9d6; */
    background-image: linear-gradient(to bottom right, #ffd1e2, #f3a4c1);
  }
