:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body{
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    background-color: #F2F2F2;
}

.container-dashboard{
    height: 100%;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F2F2F2;
}

.navbar-dashboard{
    position: fixed;
    z-index: 0;
    background-image: linear-gradient(to top right,#9E1B32, #D34C52);
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 100px 20px 500px 20px;
}

.navbar-dashboard h1{
    font-size: 23px;
    color:#F2F2F2;
}

.navbar-dashboard a{
    font-size: 23px;
    text-decoration: none;
    color:#F2F2F2;
    transition: all 0.3s ease-in-out;
}

.navbar-dashboard a:hover{
    color: #D34C52;
    font-size: 26px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--secondary-brand-color);
}

.padding-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color:#0762C8;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}