<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./quizz.css">
    <title>Document</title>
</head>
<body>

    <div class="container-dashboard">
    <div class="navbar-dashboard">
        <h1>Seja Bem-vindo! </h1>
        <a href="../dashboard.html" class="tsize">Inicio</a>
        <a href="cursos.html" class="tsize">Cursos</a>
        <a href="exercicios.html" class="tsize">Exercicios</a>
        <a href="forum.html" class="tsize">Forum</a>
        <a href="../index.html" class="tsize">Sair</a>
    </div>

    </div>

<body onload="onloadEsconder()">
      <div id="pontuacaoEJogo">
        <div class="card-quizz">
             <h1>Iniciar quizz?</h1>
        <button id="btnIniciarQuiz" onclick="iniciarQuiz()">INICIAR QUIZ</button>
        </div>
      </div>
    

    <div class="app" id="pontuacao">
        <h1>Quizz</h1>
        <div class="quiz">
            <h2 id="question">Question</h2>
            <div id="answer-buttons">
                <button class="btn">Answer 1</button>
                <button class="btn">Answer 2</button>
                <button class="btn">Answer 3</button>
                <button class="btn">Answer 4</button>
            </div>
            <button id="next-btn">Next</button>
        </div>
    </div>

</body>
</html>

<script>

    const questions = [
    {
        question: "Qual é o passo correto entre esses?",
        answers: [
            {id: 1, text:"Plié", correct:true},
            {id: 2, text:"Pular", correct:false},
            {id: 3, text:"Voar", correct:false},
            {id: 4, text:"Dançar", correct:false}
        ]
    },

     {
        question: "Qual é o passo correto entre esses?",
        answers: [
            {id: 1, text:"Plié", correct:true},
            {id: 2, text:"Pular", correct:false},
            {id: 3, text:"Voar", correct:false},
            {id: 4, text:"Dançar", correct:false}
        ]
    },

     {
        question: "Qual é o passo correto entre esses?",
        answers: [
            {id: 1, text:"Plié", correct:true},
            {id: 2, text:"Pular", correct:false},
            {id: 3, text:"Voar", correct:false},
            {id: 4, text:"Dançar", correct:false}
        ]
    },

     {
        question: "Qual é o passo correto entre esses?",
        answers: [
            {id: 1, text:"Plié", correct:true},
            {id: 2, text:"Pular", correct:false},
            {id: 3, text:"Voar", correct:false},
            {id: 4, text:"Dançar", correct:false}
        ]
    },

     {
        question: "Qual é o passo correto entre esses?",
        answers: [
            {id: 1, text:"Plié", correct:true},
            {id: 2, text:"Pular", correct:false},
            {id: 3, text:"Voar", correct:false},
            {id: 4, text:"Dançar", correct:false}
        ]
    },

     {
        question: "Qual é o passo correto entre esses?",
        answers: [
            {id: 1, text:"Plié", correct:true},
            {id: 2, text:"Pular", correct:false},
            {id: 3, text:"Voar", correct:false},
            {id: 4, text:"Dançar", correct:false}
        ]
    },

     {
        question: "Qual é o passo correto entre esses?",
        answers: [
            {id: 1, text:"Plié", correct:true},
            {id: 2, text:"Pular", correct:false},
            {id: 3, text:"Voar", correct:false},
            {id: 4, text:"Dançar", correct:false}
        ]
    },

     {
        question: "Qual é o passo correto entre esses?",
        answers: [
            {id: 1, text:"Plié", correct:true},
            {id: 2, text:"Pular", correct:false},
            {id: 3, text:"Voar", correct:false},
            {id: 4, text:"Dançar", correct:false}
        ]
    },

     {
        question: "Qual é o passo correto entre esses?",
        answers: [
            {id: 1, text:"Plié", correct:true},
            {id: 2, text:"Pular", correct:false},
            {id: 3, text:"Voar", correct:false},
            {id: 4, text:"Dançar", correct:false}
        ]
    },

     {
        question: "Qual é o passo correto entre esses?",
        answers: [
            {id: 1, text:"Plié", correct:true},
            {id: 2, text:"Pular", correct:false},
            {id: 3, text:"Voar", correct:false},
            {id: 4, text:"Dançar", correct:false}
        ]
    }
    
];

const questionElement = document.getElementById('question');
const answerButtons = document.getElementById('answer-buttons');
const nextButton = document.getElementById('next-btn');

let currentQuestionIndex = 0;
let score = 0;

function onloadEsconder() {
    document.getElementById('pontuacao').style.display = "none";
}

function iniciarQuiz(){
    document.getElementById('pontuacao').style.display = "block";
    document.getElementById('btnIniciarQuiz').style.display = "none";
    document.getElementById('pontuacaoEJogo').style.display = "none";
}


function startQuiz(){
    currentQuestionIndex = 0;
    score = 0;

    nextButton.innerHTML = "Próxima";
    showQuestion();
}

function resetState(){
    nextButton.style.display = "none";

    while(answerButtons.firstChild){
        answerButtons.removeChild(answerButtons.firstChild);
    }
}

function showQuestion(){
    resetState();
    let currentQuestion = questions[currentQuestionIndex];
    let questionNo = currentQuestionIndex + 1;
    questionElement.innerHTML = questionNo + ". " + currentQuestion.question;

    for (let i = 0; i <currentQuestion.answers.length; i++){
        let answer = currentQuestion.answers[i];


        const button = document.createElement('button');
        button.innerHTML = answer.text;
        button.dataset.id = answer.id;
        button.addEventListener('click', selectAnswer);
        button.classList.add('btn');
        answerButtons.appendChild(button);
    }
    
}

function selectAnswer(e){
    answers = questions[currentQuestionIndex].answers;
    const correctAnswer = answers.filter((answer) => answer.correct == true)[0];

    const selectedBtn = e.target;
    const isCorrect = selectedBtn.dataset.id == correctAnswer.id;

    if(isCorrect){
        selectedBtn.classList.add("correct")
        score++;
    } else{
        selectedBtn.classList.add("incorrect")
    }

    Array.from(answerButtons.children).forEach((button) => {
        button.disabled = true;
    });
    nextButton.style.display = "block";
}

function showScore(){
    resetState();
    questionElement.innerHTML = `Você acertou ${score} de ${questions.length}!`
    nextButton.innerHTML = "Jogar de novo"
    nextButton.style.display = "block"
}

function handleNextButtton(){
    currentQuestionIndex++;

    if(currentQuestionIndex < questions.length){
        showQuestion();
    } else{
        showScore();
    }
}

nextButton.addEventListener("click", () =>{
    if(currentQuestionIndex < questions.length){
        handleNextButtton();
    } else{
        startQuiz();
    }
})

startQuiz();


</script>