@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body{
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    background-color: #F2F2F2;
}

.container-dashboard{
    height: 100%;
    width: 100%;
    font-family: "Lora", serif;
    background-color: #F2F2F2;
}

.navbar-dashboard{
    position: fixed;
    z-index: 0;
    background-image: linear-gradient(to top right, #7b0000, #D34C52);
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 100px 20px 500px 20px;
}

.navbar-dashboard h1{
    font-size: 23px;
    color: #F2F2F2;
}

.navbar-dashboard a{
    font-size: 23px;
    text-decoration: none;
    color: #F2F2F2;
    transition: all 0.3s ease-in-out;
}

.navbar-dashboard a:hover{
    color: #D34C52;
    font-size: 26px;
}

.container-topico{
    margin-left: 240px;
}

.container-topico button{
    border: none;
    color: #F2F2F2;
    background-color: #D34C52;
    padding: 10px 40px 10px 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 3px;
}

.container-topico a{
    text-decoration: none;
    color: #F2F2F2;
}

.container-topico a:hover{
    color: #9E1B32;
}


.topico1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topico1 h1{
    text-decoration: underline;
    text-align: center;
    font-size: 23px;
}

.topico1 h2{
    font-size: 18px;
}

.imagem img{
    height: 350px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem{
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.seta img{
    height: 40px;
    width: 40px;
    filter: grayscale(100%);
}

.setas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.seta1 img{
    height: 40px;
    width: 40px;
    transform: rotate(180deg);
    margin-right: 200px;
    filter: grayscale(100%);
}

.seta2 img{
    position: relative;
    z-index: 2;
    height: 40px;
    width: 40px;
    filter: grayscale(100%);
}

::-webkit-scrollbar{
    width: 10px;
    background-color:#F2F2F2;
  }
  
  ::-webkit-scrollbar-thumb{
    /* background-color:#eaa9d6; */
    background-image: linear-gradient(to bottom right, #9E1B32);
  }