body{
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    background-color:#F2F2F2;
}

.container-dashboard{
    height: 100%;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#F2F2F2;
}

.navbar-dashboard{
    position: fixed;
    z-index: 0;
    background-image: linear-gradient(to top right,#9E1B32, #D34C52);
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 100px 25px 500px 20px;
}

.navbar-dashboard h1{
    font-size: 25px;
    color: white;
}

.navbar-dashboard a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.navbar-dashboard a:hover{
    color: #D34C52;
    font-size: 26px;
}

.graficos{
    background-color:#F2F2F2;
    display: flex;
}

.kpis{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}

.kpi{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.kpi2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.graficos-desempenho{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.graficos h1{
    font-size: 20px;
}

.graficos h3{
    font-size: 16px;
    background-color: #D34C52;
}

.bloco1{
    background-color: #F2F2F2;
    border: 1px solid #9E1B32;
    padding: 20px;
    margin: 20px;
    filter: drop-shadow(4px 7px 10px gray);
    border-radius: 3px;
}

.bloco2{
    background-color: #F2F2F2;
    border: 1px solid #9E1B32;
    margin: 20px;
    padding: 20px 40px;
    filter: drop-shadow(4px 7px 10px gray);
    border-radius: 3px;
}

.grafico-pizza{
    height: 200px;
    width: 250px;
}

.grafico-barra{
    height: 100px;
    width: 400px;
}


.grafico-linhas{
    height: 100px;
    width: 400px;
}

.grafico1{
    text-align: center;
    background-color: #F2F2F2;
    border: 1px solid #9E1B32;
    margin-top: 5px;
    padding: 20px;
    filter: drop-shadow(4px 7px 10px gray);
    border-radius: 3px;
}


.grafico3{
    background-color: #F2F2F2;
    border: 1px solid #9E1B32;
    margin-top: 5px;
    padding: 20px;
    filter: drop-shadow(4px 7px 10px gray);
    border-radius: 3px;
}

.grafico2{
    background-color: #F2F2F2;
    border: 1px solid #9E1B32;
    padding: 20px 40px 60px 40px;
    filter: drop-shadow(4px 7px 10px gray);
    border-radius: 3px;
}

