@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body{
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    background-color:#F2F2F2;
}

.container-dashboard{
    height: 100%;
    width: 100%;
    font-family: "Lora", serif;
    background-color:#F2F2F2;
}

.navbar-dashboard{
    position: fixed;
    z-index: 0;
    background-image: linear-gradient(to top right, #7b0000, #D34C52);
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 100px 25px 500px 20px;
}

.navbar-dashboard h1{
    font-size: 23px;
    color: white;
}

.navbar-dashboard a{
    font-size: 23px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.navbar-dashboard a:hover{
    color: #D34C52;
    font-size: 26px;
}


.div-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-form input{
    background-color: white;
    border: none;
    padding: 8px 130px 8px 130px;
}

.div-form input:focus{
    outline-color: #D34C52;
}

.div-form textarea{
    background-color: white;
    border: none;
    padding: 130px;
}

.div-form textarea:focus{
    outline-color: #D34C52;
}

.div-form button{
    border: none;
    color: #F2F2F2;
    background-color: #D34C52;
    padding: 10px 20px;
    margin-top: 10px;
}


.mural{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mural h1{
      font-size: 23px; 
}

.div-form h1{
    font-size: 23px;
}

.div-form h2{
    font-size: 20px;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:#F2F2F2;
  }
  
  ::-webkit-scrollbar-thumb{
    /* background-color:#eaa9d6; */
    background-image: linear-gradient(to bottom right, #9E1B32);
  }